/* This file is meant to be imported in the main application's style.scss, like so:
@import "../../ngsdk-lib/src/styles.scss";
or in angular.json, like so:

"styles": [
  "projects/ngsdk-lib/src/styles.scss",
  "projects/ngsdk-app/src/styles.scss"
]

*/

@import 'anim.scss';

body {
  @include animation('applymargin 1s 1');
  /* nav is 71px */
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

/* Custom styles - global */
.pointer {
  cursor: pointer;
}

.text-noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}